<%- include("partials/header"); -%>

<div class="failure container-fluid">
    <h1>Something went wrong, was there a typo?</h1>
    <form action="/failure" method="post">
        <button type="submit" class="btn btn-lg btn-dark">Go back</button>
    </form>
</div>

<%- include("partials/footer"); -%>